mixin InputToggle({ labelText = '' } = {})
  -
    const cssClass = 'input-toggle';
    const blockAttributes = {
      type: 'checkbox',
      class: `${cssClass}__state`,
    };
    const wrapperClass = [cssClass, `js-${cssClass}`];

  label(class=wrapperClass) #{labelText}
    input&attributes(Object.assign({}, attributes, blockAttributes))
    span(class=`${cssClass}__box`)
      span(class=`${cssClass}__mark`)
