mixin InputField({ inpType='text', labelText, long=false } = {})
  -
    const cssClass = 'input-field';
    const wrapperClass = [cssClass, `js-${cssClass}`];
    attributes.class = [`${cssClass}__field`, `js-${cssClass}__field`];

  case inpType
    when 'email'
      - attributes.type = inpType
      - attributes.name = 'email'
      if (!attributes.placeholder)
        - attributes.placeholder = 'Email'
    when 'password'
      - attributes.type = inpType
      - attributes.name = 'password'
      if (!attributes.placeholder)
        - attributes.placeholder = 'Password'
    when 'number'
      - attributes.type = inpType
    default
      - attributes.type = 'text'

  if (long)
    - attributes.class.push(`${cssClass}__field_long`)

  div(class=wrapperClass)
    if (labelText)
      label(class=`${cssClass}__label`) #{labelText}
    input&attributes(attributes)
