mixin InputField({ inpType = 'text', labelText, long = false } = {})
  -
    const cssClass = 'input-field';
    const blockAttributes = {
      class: [`${cssClass}__field`, `js-${cssClass}__field`, long && `${cssClass}__field_long`],
    };
    const wrapperClass = [cssClass, `js-${cssClass}`];

  case inpType
    when 'email'
      -
        blockAttributes.type = inpType;
        blockAttributes.name = attributes.name || 'email';
        blockAttributes.placeholder = attributes.placeholder || 'Email';
    when 'password'
      -
        blockAttributes.type = inpType;
        blockAttributes.name = attributes.name || 'password';
        blockAttributes.placeholder = attributes.placeholder || 'Пароль';
    when 'number'
      - blockAttributes.type = inpType;
    default
      - blockAttributes.type = 'text';

  div(class=wrapperClass)
    if (labelText)
      label(class=`${cssClass}__label`) #{labelText}
    input&attributes(Object.assign({}, attributes, blockAttributes))
